@model IEnumerable<APICoreDemo.Models.Customer>

@{
    ViewBag.Title = "Customer List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .modal-dialog {
        margin: 15vh auto 0px auto;
    }
</style>
<br />
<div style="margin: 0 auto; width:80%">
    <div style="height:50px;"></div>
    <h2 style="color:turquoise;">Customer List from SQL Server using Dapper (CRUD)</h2>
    <br />
    @Html.ActionLink("Add New Customer", "SignUp", "Home", new { area = "" }, new { @class = "btn btn-primary" })
    <table class="table">
        <tr>
            <th>&nbsp;</th>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Occupation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.State)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>&nbsp;</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <img src="@item.ImageURL" class="rounded-circle" style="width:100px; height:100px;">
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Occupation)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.City)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.State)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    <a asp-controller="Home" asp-action="SignUp" asp-route-id="@item.ID" type="button" class="btn btn-primary">Update</a>
                    <button type="button" class="btn btn-outline-danger" data-toggle="modal" data-target="#deleteModal" data-customerid="@item.ID">Delete</button>
                </td>
            </tr>
        }
        <tr>
     </table>
</div>

<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="margin: 50vh, 0 auto;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Delete Customer Alert</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-center">
                <br />
                <img src="~/content/delete.jpg" style="width:120px; height:120px;" /><br /><br />
                <p>You are about to delete this customer!<br />Are you sure?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                <a role="button" class="btn btn-outline-danger" name="delete">Delete</a>
            </div>
        </div>
    </div>
</div>

<script>
    $('#deleteModal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget)
        var link = 'DeleteCustomer/' + button.data('customerid')
        $(event.currentTarget).find('a[name="delete"]').attr('href', link)
    })
</script>